<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<!-- Website Design By: www.happyworm.com -->
<title>Bagel's Cam Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript">
//<![CDATA[

//]]>
</script>
</head>

<body>
	<form method="post">
		<label>
			Username: <input type="text" name="username" />
		</label>
		<label>
			Password: <input type="password" name="password" />
		</label>
		<input type="submit" />
	</form>
</body>

</html>
