<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Bagel's Cam</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='player-simple.css') }}" rel="stylesheet">

		<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

		<!-- Custom Player -->
		<script type="text/javascript" src="{{ url_for('static', filename='player-simple.js') }}"></script>
	</head>

	<body>

		<div class="container">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation" class="active"><a href="/player">Player</a></li>
						<li role="presentation"><a href="/logout">Logout</a></li>
					</ul>
				</nav>
				<h3 class="text-muted">Bagel's Cam</h3>
			</div>

			<div>
				<video id="videoarea" controls="controls" poster="" src=""></video>
				<div id="controls">
					<button type="button" class="btn btn-default" aria-label="">
						<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default" aria-label="">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default" aria-label="">
						<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default" aria-label="">
						<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
					</button>
				</div>
				<div id="playlist" class="list-group"></div>
			</div>

			<footer class="footer">
				<p>&copy; 2016 Bagel, Inc.</p>
			</footer>

		</div> <!-- /container -->

	</body>
</html>
