# vim: ft=systemd
[Unit]
Description=Motion Detection System
After=dev-video0.device
BindsTo=dev-video0.device

[Service]
User=alarm
Group=alarm
Environment=PYTHONPATH=/path/to/motion-detection
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/path/to/media
ExecStart=/path/to/motion-detection/bin/motion --fps 10 --size 800x448
Restart=on-failure

[Install]
WantedBy=dev-video0.device
