# vim: ft=systemd
[Unit]
Description=Motion Detection Web
After=network.target

[Service]
User=alarm
Group=alarm
Environment=PYTHONPATH=/path/to/motion-detection
Environment=DEBUG=False
Environment=MEDIA_FOLDER=/path/to/media
ExecStart=/path/to/motion-detection/bin/motionweb
Restart=on-failure

[Install]
WantedBy=multi-user.target
